<section class="block container">
  <header class="block--header">
    <h2>Stay Connected</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="" class="link-arrow">lern more</a>
    </div>
    <picture>
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Fast Speed</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="" class="link-arrow">lern more</a>
    </div>
    <picture>
      <img class="feature__image" src="images/fast@2x.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">20ms Delay</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="" class="link-arrow">lern more</a>
    </div>
    <picture>
      <img class="feature__image" src="images/support@2x.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="" class="link-arrow">lern more</a>
    </div>
    <picture>
      <img class="feature__image" src="images/wordpress@2x.jpg" alt="" />
    </picture>
  </article>
</section>
