<section class="block block--dark block--skeded-right">
    <header class="block--header">
      <h2 class="block--heading">User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--cols-2">
      <img class="block-showcase__image" src="images/ipad@2x.png" alt="" />
      <div>
        <div class="media">
          <div class="media__img">
              <svg CLASS="icon icon--primary">
                <use xlink:href="images/sprites.svg#clock"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block--heading">
              Dynamic Speed Boost & More
            </h3>
            <p>
              Maximize your connection speed with intelligent bandwidth
              allocation and dynamic caching, providing you with a smooth and
              uninterrupted online experience.
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media__img">
              <svg CLASS="icon icon--primary">
                <use xlink:href="images/sprites.svg#clock"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block--heading">
              Network Monitoring & Advanced Tools
            </h3>
            <p>
              Track your internet usage and performance with real-time
              monitoring, and optimize your experience using advanced tools
              tailored for both personal and business needs.
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media__img">
              <svg CLASS="icon icon--primary">
                <use xlink:href="images/sprites.svg#clock"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block--heading">
              Easy Setup & Automated Updates
            </h3>
            <p>
              Our internet plans offer seamless installation and automatic
              updates, ensuring your connection remains fast and reliable
              without hassle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
